*{
    margin: 0;
    /* border: 0; */
    /* padding: 0; */
    background: rgb(241, 147, 147);
}

.container{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}
 
h1 {
    font-size: 45px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
}
input,button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background: white;
}
